.checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  .box {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
  }
  &.checked {
    .box {
      width: 20px;
      height: 20px;
      border-radius: 3px;
      background-color: #fff;
      &::after {
        content: "";
        width: 14px;
        height: 14px;
        border-radius: 3px;
        background-color: $green;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
